<footer>
    <div class="social-media">
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-x-twitter"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footer-info">
        &copy; 2024 Your Site Name. All rights reserved.<br>
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
    </div>
</footer>