<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Blogger</title>
</head>
<header>
    <h1>bloggers</h1> 
    <div>
        <button class="button">Home</button>
        <button class="button">Blogs</button>
        <button class="button">About</button>
    </div>
</header>
<body>
    
</body>
</html>