<%# Header %>
<%- include('partials/header.ejs') %>
<!--Grid-->
<div class="content">
    <div class="grid">
        <div class="slogan">
                Your <span style="color:rgb(253, 103, 103);">Blogging</span> 
                Desitnation for <span style="color:rgb(64, 141, 64);">Bloggers</span>, 
                who <span style="color:rgb(126, 126, 255);">Blog</span>!
        </div>
        <div class="overview">
            <p class="top">
                <span style="font-weight:bold;color:black;">Welcome to bloggers!</span> 
                This is the place to be to express your thoughts and engage in dialogue with 
                like-minded folk, and a few ops! <br>
            </p>
            
            <hr>
            <p class="bottom">
                Please do not hesitate to reach and let us know if we suck or not. Gracias!
            </p>
        </div>
    </div>
 </div>
<%# Footer %>

<%- include('partials/footer.ejs') %>
